In [19]:
import pandas as pd
import numpy as np
import pickle
from sklearn.pipeline import FeatureUnion
from sklearn.feature_selection import SelectKBest
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, precision_score, f1_score, roc_auc_score, recall_score

In [3]:
with open('pipeline.pkl', 'rb') as f:
    pipeline_loaded = pickle.load(f)

In [4]:
test_data = pd.read_csv('full_filled_stroke_data (1).csv')
test_data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,31.555602,never smoked,1
1,Female,59.0,0,0,Yes,Private,Rural,76.15,30.242937,Unknown,1
2,Male,78.0,0,1,Yes,Private,Urban,219.84,30.698951,Unknown,1
3,Male,57.0,0,1,No,Govt_job,Urban,217.08,33.808410,Unknown,1
4,Male,58.0,0,0,Yes,Private,Rural,189.84,31.378534,Unknown,1

In [5]:
test_data.shape

(201, 11)

In [6]:
test_X = test_data.drop('stroke', axis = 1)
test_X.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,31.555602,never smoked
1,Female,59.0,0,0,Yes,Private,Rural,76.15,30.242937,Unknown
2,Male,78.0,0,1,Yes,Private,Urban,219.84,30.698951,Unknown
3,Male,57.0,0,1,No,Govt_job,Urban,217.08,33.808410,Unknown
4,Male,58.0,0,0,Yes,Private,Rural,189.84,31.378534,Unknown

In [7]:
test_X.shape

(201, 10)

In [8]:
test_Y = test_data['stroke']
test_Y.shape

(201,)

In [11]:
lableen=LabelEncoder()
test_X["gender"]=lableen.fit_transform(test_X["gender"])
test_X["ever_married"]=lableen.fit_transform(test_X["ever_married"])
test_X["work_type"]=lableen.fit_transform(test_X["work_type"])
test_X["Residence_type"]=lableen.fit_transform(test_X["Residence_type"])
test_X["smoking_status"]=lableen.fit_transform(test_X["smoking_status"])
test_X

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0,61.0,0,0,1,2,0,202.21,31.555602,2
1,0,59.0,0,0,1,1,0,76.15,30.242937,0
2,1,78.0,0,1,1,1,1,219.84,30.698951,0
3,1,57.0,0,1,0,0,1,217.08,33.808410,0
4,1,58.0,0,0,1,1,0,189.84,31.378534,0
...,...,...,...,...,...,...,...,...,...,...
196,1,41.0,0,0,0,1,0,70.15,29.756631,1
197,1,40.0,0,0,1,1,1,191.15,31.124172,3
198,0,45.0,1,0,1,0,0,95.02,31.798304,3
199,1,40.0,0,0,1,1,0,83.94,29.951301,3
200,0,80.0,1,0,1,1,1,83.75,29.097421,2

In [12]:
y_pred = pipeline_loaded.predict(test_X)

In [13]:
y_true = test_data['stroke']

In [17]:
cross_val_scores = cross_val_score(pipeline_loaded, test_X, test_Y , cv = 5)

print(cross_val_scores)

[0.70731707 0.8        0.8        0.825      0.825     ]

In [20]:
print('Model F1 score: {0:0.2f}'.format(f1_score(y_true, y_pred)))
print('Model accuracy score with: {0:0.2f}'.format(accuracy_score(y_true, y_pred)))
print('Model precision score with: {0:0.2f}'.format(precision_score(y_true, y_pred, average='macro')))
print('Model roc_auc_score with: {0:0.2f}'.format(roc_auc_score(y_true, y_pred)))
print('Model recall: {0:0.2f}'.format(recall_score(y_true, y_pred)))

Model F1 score: 0.96
Model accuracy score with: 0.99
Model precision score with: 0.97
Model roc_auc_score with: 0.98
Model recall: 0.97